<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gastaldi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69D37CD71D04A48200A349F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D37CEE1D04A48200A349F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69D37CF91D04A48200A349F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
